/* CSS Variables */
:root {
    /* Color Variables */
    --clr-primary: #1C2B32;
    --clr-secondary: #fff;

    /* Padding & Margin Variable Sizes */
    --xs:12px;
    --s: 24px;
    --m: 32px;
    --l: 64px;
    --xl: 96px;
    --xxl: 192px;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Setup */
body {
    font-family: Poppins, sans-serif;
    color: var(--clr-primary);
    overflow-x: hidden;
}

/* Typography */
h1 {
    font-weight: 700;
    font-size: 120px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-block: var(--l)
}

h1,
h2 {
    text-align: center;
}

/* Horizontal center main content */
main {
    width: 60%;
    margin: 0 auto;
}

/* Set background on header */
header {
    background: url('assets/mountains.jpg') no-repeat center -100px local;
    background-size: cover;
    width: 100%;
    height: 800px;
}

/* Hero section */
.hero__section {
    padding: var(--xl);
}

.hero__title {}

.hero__subtitle {
    margin-bottom: var(--m);
    text-align: center;
}

.hero__form {
    text-align: center;
}

.hero__input::placeholder {
    color: var(--clr-primary);
    font-size: 18px;
    opacity: 0.6;
}

.hero__input {
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 18px;
    padding: var(--xs) var(--m);
    height: var(--l);
    width: 350px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: var(--clr-primary);
    border-radius: 50px 0 0 50px;
    outline: none;
}

.hero__btn {
    background: var(--clr-primary);
    color: var(--clr-secondary);
    font-size: 18px;
    padding: var(--xs) var(--m);
    height: var(--l);
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: var(--clr-primary);
    border-radius: 0 50px 50px 0;
    outline: none;
    cursor: pointer;
}

/* Testimonial section */
.testimonial__section {
    margin-block: var(--l);
}

.testimonial__title {}

.testimonial__article {
    padding: var(--l) var(--xl) var(--l) 150px;
    margin-block: var(--l);
    border-radius: var(--xs);

    /* Shadow */
    box-shadow:
            0 8px 18px 2px rgba(24, 39, 75, 0.12),
            0 6px 20px 4px rgba(24, 39, 75, 0.12);
}

.testimonial__quote {
    position: relative;
}

.testimonial__quote::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -50px;
    width: 33px;
    height: 33px;
    background: url('assets/quote-left.png');
}

.testimonial__avatar {
    display: inline;
    width: 44px;
    height: 44px;
    margin-top: var(--s);
}

.testimonial__name {
    display: inline;
    margin-left: var(--s);
}

.testimonial__name em {}

/* Support section */
.support__section {
    margin-block: var(--l);
}

.support__title {}

.support__img {
    border-radius: var(--xs);
    width: 100%;
}

.support__info {
    margin-block: var(--s);
}


.support__btn {
    color: var(--clr-secondary);
    background: var(--clr-primary);
    padding: 12px 32px;
    font-size: 18px;
    border: 2px solid var(--clr-primary);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

/* FAQ section */
.faq__section {
    margin-block: var(--l);
}

.faq__collapsable {
    padding: var(--s) var(--m);
    color: var(--clr-secondary);
    background: var(--clr-primary);
    border-radius: var(--xs);
}

.faq__details {
    margin-block: var(--s);
}

.faq__summary {
    cursor: pointer;
    margin-bottom: 10px;
}


/* Footer section */
.footer {
    width: 100%;
    background-color: var(--clr-primary);
    padding-block: var(--m);
}

.footer__copyright {
    font-size: 14px;
    color: var(--clr-secondary);
    text-align: center;
}